.bg-primary {
    background: #7F7FD5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.noHover {
    pointer-events: none;
}

/* by default align the elements in the .tweet container */
.tweet {
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    background: #24202000;
    color: hsl(0, 0%, 100%);
    box-shadow: 0 1px 20px -10px hsla(0, 0%, 0%, 0.2);
    text-align: center;
}
/* by default separate the sibling elements starting with the second */
.tweet > * + * {
    margin-top: 1rem;
}

.tweet h1 {
    font-size: 1.2rem;
}
.tweet h2,
.tweet h3 {
    font-weight: 400;
    font-size: 1rem;
}
.tweet p {
    line-height: 2;
    font-size: 1.1rem;
    text-align: left;
}
/* display the icons in a vertically aligned row */
.icons {
    color: hsl(240, 20%, 60%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons svg {
    width: 25px;
    height: 25px;
}

/* bonus: change the color of the stroke when hovering on the icons, thanks to currentColor */
.icons svg:hover {
    color: hsl(320, 95%, 50%);
}
/* bonus: change the color of the text following a highlight
using the pseudo element on the entire document (`::selection {}`) would work as well
using the > direct children selector would skip the time element
*/
.tweet *::selection {
    color: #1DA1F2;
}

/* when the viewport is wider than an arbitrary threshold */
@media (min-width: 100px) {
    /* when grid is supported */
    @supports (display: grid) {
        /* remove the spacing introduced between the elements */
        .tweet > * + * {
            margin-top: initial;
        }
        .tweet {
            /* display the content in a grid with four columns and three rows */
            display: grid;
            gap: 1.5rem;
            grid-template-areas:
                "avatar handle name time"
                "avatar message message message"
                "avatar icons icons icons";
            /* reset the alignment of the nested elements */
            text-align: initial;
        }
        /* assign to each nested element the appropriate grid-area
        align the elements horizontally and vertically as needed
        */
        .tweet > svg {
            grid-area: avatar;
            justify-self: center;
            align-self: center;
        }
        .tweet h1 {
            grid-area: name;
            align-self: baseline;
        }
        .tweet h2 {
            grid-area: handle;
            align-self: baseline;
        }
        .tweet h3 {
            grid-area: time;
            align-self: baseline;
        }
        .tweet p {
            grid-area: message;
        }
        .tweet .icons {
            grid-area: icons;
        }
    }
}

.file-area {
  width: 100%;
  position: relative;
}

.file-area input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.file-area .file-dummy {
  width: 100%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: background 0.3s ease-in-out;
}

.file-area .file-dummy .success {
  display: none;
}

.file-area:hover .file-dummy {
  background: rgba(255, 255, 255, 0.1);
}

.file-area input[type=file]:focus + .file-dummy {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline: -webkit-focus-ring-color auto 5px;
}

.file-area input[type=file]:valid + .file-dummy {
  border-color: rgba(0, 255, 0, 0.4);
  background-color: rgba(0, 255, 0, 0.3);
}

.file-area input[type=file]:valid + .file-dummy .success {
  display: inline-block;
}

.file-area input[type=file]:valid + .file-dummy .default {
  display: none;
}

* {
  /*box-sizing: border-box;*/
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
  margin: 50px auto;
  font-weight: 100;
}

label {
  font-weight: 500;
  display: block;
  margin: 4px 0;
  text-transform: uppercase;
  font-size: 13px;
  /*overflow: hidden;*/
}

label span {
  float: right;
  text-transform: none;
  font-weight: 200;
  line-height: 1em;
  font-style: italic;
  opacity: 0.8;
}

.form-controll {
  display: block;
  padding: 8px 16px;
  width: 100%;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: 200;
}

.form-controll:focus {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline: -webkit-focus-ring-color auto 5px;
}

button {
  padding: 8px 30px;
  background: rgba(255, 255, 255, 0.8);
  color: #053777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  border: 0;
  text-shadow: 0 1px 2px #fff;
  cursor: pointer;
}

.form-group {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

