<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - HateRaid</title>
    <meta name="description" content="Prototype for identifying hate content online">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic);">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="static/css/Multi-step-form.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/title.css">
    <link rel="icon" href="static/img/favicon/favicon.ico?" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/jpeg" sizes="180x180" href="static/img/favicon/favicon_180.jpg">
    <link rel="icon" type="image/jpeg" sizes="16x16" href="static/img/favicon/favicon_16.jpg">
    <link rel="icon" type="image/jpeg" sizes="32x32" href="static/img/favicon/favicon_32.jpg">
    <link rel="icon" type="image/jpeg" sizes="180x180" href="static/img/favicon/favicon_180.jpg">
    <link rel="icon" type="image/jpeg" sizes="192x192" href="static/img/favicon/favicon_192.jpg">
    <link rel="icon" type="image/jpeg" sizes="512x512" href="static/img/favicon/favicon_512.jpg">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="56">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top"><strong>HateRaid</strong></a>
        <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler float-end" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#predict"><strong>Predict</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="#features"><strong>Features</strong></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: url('static/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);">
        <section class="text-center download" id="predict">
    <div>
        <h3 style="margin-top: -5%; font-size:400%">
	    Hate<span style="color: #FF4136"><b>Raid</b></span><br>
	</h3>
	<h3 style="margin-bottom: 1%; font-size:200%">
	    Helps identify <span style="color: #FF4136"><b><u>Hate Content</u></b></span> easily.
	</h3>
        <div style="margin: 5%;">
            <form name="myForm" action="{{ url_for('uploader') }}" method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <label for="caption" style="text-align: left;">Caption <span><b>This caption should be meme text, post text or neither</b></span></label>
        <input type="text" name="caption" id="caption" class="form-controll" />
      </div>
      <div class="form-group file-area">
            <label for="image" style="text-align: left;">Image <span><b>Your image should be at least 400x300 wide</b></span></label>
        <input type="file" name="image" id="image" required/>
        <div class="file-dummy">
          <div class="success">Great, your meme is selected. Keep on.</div>
          <div class="default">Please select a meme</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" value="Submit" onclick="validateAndSend()">Get Prediction</button>
      </div>
    </form>
    <script>
        function validateAndSend() {
            if (myForm.caption.value == '' && myForm.image.value == '') {
		alert('Enter Caption or Meme or Caption and Meme')
                return false;
            }
            else {
                myForm.submit();
            }
        }
    </script>
        </div>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700" rel="stylesheet" type="text/css" />
    </div>
</section>
    </header>
    <section id="features" class="features">
        <div class="container">
            <div class="text-center section-heading" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                <h2>Our Features</h2>
                <p class="text-muted">Check out what you can do with our app!</p>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-4 my-auto" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device" style="background-image:url('static/img/iphone_6_plus_white_port.png');">
                                <div class="screen"><img class="img-fluid" src="static/img/demo-screen-1.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="900" data-aos-once="true">
                                <div class="feature-item"><i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Accurate Predictions</h3>
                                    <p class="text-muted">Classify with 92% accuracy!</p>
                                </div>
                            </div>
                            <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="900" data-aos-once="true">
                                <div class="feature-item"><i class="icon-camera text-primary"></i>
                                    <h3>Flexible Use</h3>
                                    <p class="text-muted">Put an image, or text in the screen and get prediction!</p>
                                </div>
                            </div>
                            <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="900" data-aos-once="true">
                                <div class="feature-item"><i class="icon-present text-primary"></i>
                                    <h3>Free to Use</h3>
                                    <p class="text-muted">As always, this website is free to use for educational purposes!</p>
                                </div>
                            </div>
                            <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="900" data-aos-once="true">
                                <div class="feature-item"><i class="icon-equalizer text-primary"></i>
                                    <h3>Online Learning</h3>
                                    <p class="text-muted">Since this app takes feedback from user, we tweak our model to make it better!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>© HateRaid 2021. All Rights Reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">FAQ</a></li>
            </ul>
        </div>
    </footer>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="static/js/Multi-step-form.js"></script>
    <script src="static/js/title.js"></script>
    <script src="static/js/new-age.js"></script>
</body>

</html>